@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Chonburi");

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  background-color: black;
}

body::-webkit-scrollbar {
  width: 5px; 
}

body::-webkit-scrollbar-thumb {
  background-color: #ffeeb5; 
  border-radius: 4px; 
}

body::-webkit-scrollbar-track {
  background-color: #000000; 
  border-radius: 4px; 
}

.App {
  text-align: center;
}

.pageDiv {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: absolute;
  padding: 5px;
}

.spaceDiv {
  height: 95%;
  width: 95%;
  background: url('./assets/images/backgrounds/stars_background.jpg') no-repeat center center fixed;
  z-index: -1;
  position: absolute;
  padding: 5px;
  border: 2px #ffeeb5 solid;
  border-radius: 30px;
  background-size: cover;
  opacity: 0.8; 
}

.introMainDiv {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.introText {
  display: block;
  opacity: 1;
}

.introName {
  animation: fadeIn 7s;
  font-family: 'Chonburi';
  font-size: 7vh;
  color: #ffeeb5;
  font-weight: bold;
}

.introTitle {
  font-size: 4vh;
  animation: fadeIn 7s;
  font-family: 'Merriweather';
  color: whitesmoke
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.buttonStyle {
  color: #ffeeb5;
  background-color: black;
  border: 1px #ffeeb5 solid;
  border-radius: 10px;
  justify-content: center;
  font-size: large;
}

.aboutDiv {
  font-size: 8vh;
  font-weight: bold;
  font-family: 'Chonburi';
  margin-top: 5vh;
  display: flex;
  justify-content: left;
  color: #ffeeb5;
  border-bottom: 3px #ffeeb5 solid;
  width: 90%;
  margin-left: 2%;
}

.aboutImgDiv {
  border: 10px #ffeeb5 solid;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.aboutImg {
  border: 10px black solid;
  object-fit: cover;
  top: -40px;
  right: -40px;
  position: relative;
}

.aboutText {
  margin-top: 3vh;
  font-family: 'Merriweather';
  font-size: 3vh;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  height: 40vh;
  width: 90%;
  overflow-x: hidden;
  scrollbar-color: #ffeeb5;
  padding: 2vh;
}

.aboutText::-webkit-scrollbar {
  width: 5px; 
}

.aboutText::-webkit-scrollbar-thumb {
  background-color: #ffeeb5; 
  border-radius: 4px; 
}

.aboutText::-webkit-scrollbar-track {
  background-color: #000000; 
  border-radius: 4px; 
}

.resumeDiv {
  height: 10vh;
  display: flex; 
  justify-content: center;
  margin-left: 2%;
  margin-top: 2%;
}

.cardStyle {
  background-color: #3d3d3d;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 10px 10px black;
}

.skills {
  font-size: 8vh;
  font-family: 'Merriweather';
  margin-top: 5vh;
  color: whitesmoke;
  display: flex;
  justify-content: flex-start;
  padding-left: 4vw;
  overflow: hidden;
  font-weight: bold;
}

.skillsCard {
  font-size: 2vh;
  font-family: 'Merriweather';
  margin-top: 1vh;
  color: black;
  display: flex;
  justify-content: center;
  /* padding-left: 4vw; */
  overflow: hidden;
  background-color: #eeea88;
  height: 70vh;
  width: 40vh;
}
  
.skillsCarousel {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.p-carousel-prev, .p-carousel-next {
  color: whitesmoke;
}

.cardDiv {
  display: flex;
  justify-content: center;
  width: 80%;
}