@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Chonburi");

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  background: url('./assets/images/backgrounds/stars_background.jpg') no-repeat center center fixed;
  background-size: cover;
}

body::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 58, 58, 0.4); 
  z-index: -1;
}

body::-webkit-scrollbar {
  width: 5px; 
}

body::-webkit-scrollbar-thumb {
  background-color: #ffeeb5; 
  border-radius: 4px; 
  border: 1px black solid;
}

body::-webkit-scrollbar-track {
  background-color: #000000; 
  border-radius: 4px; 
}

.App {
  text-align: center;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out; 
}

.fade-in.visible {
  opacity: 1;
}

.pageDiv {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  padding: 5px;
}

.spaceDiv {
  height: 95vh;
  width: 90vw;
  /* background: url('./assets/images/backgrounds/stars_background.jpg') no-repeat center center fixed; */
  background-color: rgba(58, 58, 58, 0.5); 
  z-index: -1;
  position: absolute;
  padding: 5px;
  /* border: 1px #ffeeb5 solid; */
  border-radius: 15px;
  background-size: cover;
  box-shadow: -15px 15px 20px 0px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease-in-out; 
  opacity: 0.8;
}

.introMainDiv {
  height: 100vh;
  width: 95vw;
  overflow: hidden;
  display: flex;  
  justify-content: left;
  margin: 0;
}

.introText {
  display: block;
  opacity: 1;
  height: 95vh;
  width: 90vw;
}

.introName {
  animation: fadeIn 7s;
  font-family: 'Chonburi';
  font-size: 7vh;
  color: #ffeeb5;
  font-weight: bold;
}

.introTitle {
  font-size: 4vh;
  animation: fadeIn 7s;
  font-family: 'Merriweather';
  color: whitesmoke;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.buttonStyle {
  color: #ffeeb5;
  background-color: black;
  border: 1px #ffeeb5 solid;
  border-radius: 5px;
  justify-content: center;
  font-size: large;
  border: 1px #ffeeb5 solid;
}

.buttonStyle:hover {
  background: linear-gradient(to right, #333333, #444444);
} 

.toolTipOptions {
  color: white;
  font-family: 'MerriWeather';
  font-size: 12px;
  background-color: black;
  border-radius: 10px;
  margin-left: 5px;
  padding: 5px;
}

.aboutDiv {
  font-size: 8vh;
  font-weight: bold;
  font-family: 'Chonburi';
  margin-top: 5vh;
  display: flex;
  justify-content: left;
  color: #ffeeb5;
  border-bottom: 3px #ffeeb5 solid;
  width: 90%;
  margin-left: 2%;
}

.aboutInnerDiv {
  background: rgba(58, 58, 58, 0.5);
  border-radius: 15px;
  /* border: 1px #ffeeb5 solid; */
  box-shadow: -15px 15px 20px 0px rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  margin: 0;
}

.aboutImgDiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  height: 100%;
  width: 100%;
}

.aboutImg {
  object-fit: cover;
  margin-bottom: 30px;
  border-radius: 10px;
}

.aboutText {
  margin-top: 4vh;
  font-family: 'Merriweather';
  font-size: 2.5vh;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  overflow-y: auto;
  height: 30vh;
  width: 90%;
  overflow-x: hidden;
  scrollbar-color: #ffeeb5;
  padding: 2vh;
}

.aboutText::-webkit-scrollbar {
  width: 5px; 
}

.aboutText::-webkit-scrollbar-thumb {
  background-color: #ffeeb5; 
  border-radius: 4px; 
  border: 1px black solid;
}

.aboutText::-webkit-scrollbar-track {
  background-color: #000000; 
  border-radius: 4px; 
}

.resumeDiv {
  height: 10vh;
  display: flex; 
  justify-content: center;
  margin-left: 2%;
  margin-top: 2%;
}

.cardStyle {
  background-color: #3d3d3d;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 10px 10px black;
}

.skillsDiv {
  font-size: 8vh;
  font-weight: bold;
  font-family: 'Chonburi';
  margin-top: 5vh;
  display: flex;
  justify-content: left;
  color: #ffeeb5;
  border-bottom: 3px #ffeeb5 solid;
  width: 90%;
  margin-left: 2%;
}

.skillsMainDiv {
  background: rgba(58, 58, 58, 0.5);
  border-radius: 15px;
  /* border: 1px #ffeeb5 solid; */
  box-shadow: -15px 15px 20px 0px rgba(0, 0, 0, 0.8);
  height: 95vh;
  width: 90vw;
  margin: 0;
  position: absolute;
}

.skillsCard {
  font-size: 2vh;
  font-family: 'Merriweather';
  margin-top: 1vh;
  color: black;
  display: flex;
  justify-content: center;
  /* padding-left: 4vw; */
  overflow: hidden;
  background-color: #eeea88;
  height: 70vh;
  width: 40vh;
}

.cardDiv {
  display: flex;
  justify-content: center;
  width: 80%;
}

.stickyMenuDiv {
  display: flex;
  justify-content: center;
}

.sticky-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 3vw;
  height: 100%;
  margin: 1vh;
  background: transparent;
  color: white;
  margin: 30px;
  transition: transform 0.3s;
  z-index: 200; 
  /* border-radius: 5px; */
  /* box-shadow: -15px 15px 20px 0px rgba(0, 0, 0, 0.8); */
  font-family: 'Merriweather';
  /* border: 1px #ffeeb5 solid; */
}

.sticky-menu.visible {
  transform: translateX(0);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

li {
  margin-bottom: 10px;
}

@media screen and (min-width: 200px) and (max-width: 768px) {
  .sticky-menu {
    top: 2vh;
    left: 0;
    width: 100vw;
    height: 40px;
    margin: 0;
    /* padding: 10px; */
    /* box-shadow: -15px 15px 20px 0px rgba(0, 0, 0, 0.8); */
    /* margin-left: 3.5vw; */
  }

  ul {
    flex-direction: row; 
    justify-content: space-around; 
    height: 100%;
  }

  .sticky-menu.visible,
  .sticky-menu.hidden {
    transform: translateY(0);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .sticky-menu {
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    /* padding: 10px; */
    /* box-shadow: -15px 15px 20px 0px rgba(0, 0, 0, 0.8); */
    /* margin-left: 5vw; */
    margin: 0;
  }

  ul {
    flex-direction: row;
    justify-content: space-around; 
    height: 100%;
  }

  li {
    margin-top: 10px;
  }

  .sticky-menu.visible,
  .sticky-menu.hidden {
    transform: translateY(0);
  }
}